.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
.turbo
.vercel
.scratch
html
**/html
**/public/workbox*
*.xml
**/*.xml
**/*.html
**/db
**/dist
packages/xmls
**/public/build-manifest.json
.env*.local
